<div class="day">
    <div class="daytext">Monday</div> 
    <div class="workout">Pull 1</div>
</div>
<div class="day">
    <div class="daytext">Tuesday</div>
    <div class="workout">Leg 1</div>
</div>
<div class="day">
    <div class="daytext">Wednesday</div>
    <div class="workout">Pull 2</div>
</div>
<div class="day">
    <div class="daytext">Thursday</div>
    <div class="workout">Abs</div>
</div>
<div class="day">
    <div class="daytext">Friday</div>
    <div class="workout">Leg 2</div>
</div>
<div class="day">
    <div class="daytext">Saturday</div>
    <div class="workout">HIT</div>
</div>
<div class="day">
    <div class="daytext">Sunday</div>
    <div class="workout"></div>
</div>

