<div class="day">
    <div class="daytext">Monday</div> 
    <div class="workout">Pull 1<span class="suffix">5</span></div>
    <div class="workout">Push<span class="suffix">3</span></div>
</div>
<div class="day">
    <div class="daytext">Tuesday</div>
    <div class="workout">Leg 1<span class="suffix">5</span></div>
</div>
<div class="day">
    <div class="daytext">Wednesday</div>
    <div class="workout">Pull 2<span class="suffix">4</span></div>
</div>
<div class="day">
    <div class="daytext">Thursday</div>
    <div class="workout">Abs<span class="suffix">6</span></div>
</div>
<div class="day">
    <div class="daytext">Friday</div>
    <div class="workout">Leg 2<span class="suffix">5</span></div>
</div>
<div class="day">
    <div class="daytext">Saturday</div>
    <div class="workout">HIT<span class="suffix">4</span></div>
</div>
<div class="day">
    <div class="daytext">Sunday</div>
</div>

