<footer class="footer">
  <a href="#">
    <div class="footer-item">
      <mat-icon>star_border</mat-icon>
      <p>My Workouts</p>
    </div>
  </a>
  <a href="#">
    <div class="footer-item">
      <mat-icon>calendar_today</mat-icon>
      <p>My Calendar</p>
    </div>
  </a>
  <a [routerLink]="['/my-exercises']" class="footer-item" (click)="updateFooterTitle('My Exercises')">
    <div class="footer-item">
      <mat-icon>fitness_center</mat-icon>
      <p>My Exercises</p>
    </div>
  </a>
</footer>
