.footer {
  background-color: #323232;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-item mat-icon {
  order: 1;
  margin-bottom: 0px;
  color: white;
  margin-top: 5px;
}

.footer-item p {
  order: 2;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: white;
}

@media (max-width: 420px) {
    .footer-item p {
        text-align: center;
    }
}