<div class="container">
  <div class="workout-list">
    <div class="workout-entry" *ngFor="let workout of workouts">
      <div class="workout-details">
        <span class="workout-name">{{ workout.name }}</span>
        <div class="number-of-exercises-container">
          <span class="number-of-exercises">{{ workout.exercises }}</span>
        </div>
      </div>
      <button class="share-button">
        <span class="material-symbols-outlined">share</span>
      </button>
    </div>
  </div>
  <button class="add-button" (click)="addWorkout()">+</button>
</div>
