<div class="container">

  <div class="custom-select">
    <select class="">
      <option value="" disabled selected>Sort by muscle group</option>

    </select>
  </div>

  <div class="select">
    
    <select>
      <option value="" disabled selected>Pull ups</option>
    </select>
    <div class="custom-plus">+</div>
  </div>
  <div class="select">
    
    <select>
      <option value="" disabled selected>Bicep curl</option>
    </select>
    <div class="custom-plus">+</div>
  </div>
  
  <div class="select">
    
    <select>
      <option value="" disabled selected>Shrugs</option>
    </select>
    <div class="custom-plus">+</div>
  </div>
  <div class="select">
    
    <select>
      <option value="" disabled selected>Lat pulldowns</option>
    </select>
    <div class="custom-plus">+</div>
  </div>
  <div class="select">
    
    <select>
      <option value="" disabled selected>Barbell rows</option>
    </select>
    <div class="custom-plus">+</div>
  </div>
  <button class="circle-button">
    <span class="plus-sign">+</span>
  </button>
</div>
