<div class="page-content">
  <div class="points">
    <p>579 pts</p>
  </div>

  <div class="Activity">
    <p>Activity</p>
    <div class="user-stats">
      <div class="activities">
        <p class="workouts">Workouts</p>
        <p class="stats" style="color: #bf40ab">4/15</p>
        <p class="exercises">Exercises</p>
        <p class="stats" style="color: #1c7649">4/12</p>
      </div>
      <div class="rings-container" style="width: 50%">
        <div class="rings">
          <div class="ring outer-ring"></div>
          <div class="ring inner-ring"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="Competition">
    <p>Competing with isaczu15gmail.com</p>
    <div class="comp-stats">
      <div class="activities">
        <p class="workouts">Workouts</p>
        <p class="stats" style="color: #bf40ab">4/6</p>
        <p class="exercises">Exercises</p>
        <p class="stats" style="color: #1c7649">4/10</p>
      </div>
      <div class="container-comp">
        <div class="rings-container">
          <div class="rings">
            <div class="ring outer-ring"></div>
            <div class="ring inner-ring"></div>
          </div>
        </div>
        <div class="comps-points">549 pts</div>
      </div>
    </div>
  </div>
</div>
