<div class="page-content">
  <div class="points">
    <p>579 pts</p>
  </div>

  <div class="Activity">
    <p>Activity</p>
    <div class="user-stats">
      <div class="activities">First Div</div>
      <div class="rings-container">Second Div
        <div class="rings">
          <div class="ring outer-ring">
            <div class="half blue"></div>
          </div>
          <div class="ring inner-ring">
            <div class="half pink"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Competition">
    <p>Competing with isaczu15gmail.com</p>
    <div class="comp-stats">
      <div class="activities">First Div</div>
      <div class="rings">Second Div</div>
    </div>
  </div>
</div>
